@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import "footer";
@import "Navbar";
@import "landingsection";
@import "Login";
@import "cardcomponent";
@import "homeshop.scss";
@import "gastric.scss";
@import "Carousel.scss";
@import "lowersection.scss";

.whole-app{

    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
}










@import "~bootstrap/scss/bootstrap";