$maincolor: #0b63b2;
$secondcolor: #da4b42;

.login-section {
    margin-left: 12%;
    padding-top: 10%;
    padding-bottom: 10%;
 
    


    .right-pane{
        margin-left: -17%;
    }
    

    h2 {
        color: #0B63B2;
        font-weight: 800;
        font-size: 30px;
        line-height: 24px;
        text-align: center;
    }

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .vertical-line{
        position: absolute;
        border: 1px solid #0B63B2;
        height: 100%;
        float: right;
        margin-left: 35%;
        margin-top: -5%;
    }

    
    .form-control{
        border: 2px solid #0B63B2;
    }

    .form-check-input{
        border: 5px solid #0B63B2;
    }

    #forgot-password{
                float: right;
                font-weight: 600;
                
    }

    .form-check {
        margin-top: 1em;

    
    }

    #form-check-register{
        margin-bottom: 2em;
    }

  

    #Login-button{
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        background: #0B63B2 ;
        color: white;
        margin-bottom: 1em;
    }

    #Login-with-google{
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        background: #DA4B42 ;
        color: white;
        margin-bottom: 2em;
    }

    #Login-with-facebook{
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        background: #3B5999 ;
        color: white;
        margin-bottom: 2em;
    }

    #create-account{
        
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        background: #0B63B2 ;
        color: white;
        margin-bottom: 4em;
        margin-top: 4em;
    }

    .svg-inline--fa {
                width: 1.2em;
                height: 1.2em;
    }
}

/* fa-facebook fa-w-16 */