
    $maincolor: #0b63b2;
    $secondcolor: #da4b42;
    
    .Register-page{
        background: url(../images/loginbackground.png);
        background-size: cover;
    }





    h3 {
        color: #0B63B2;
        font-weight: 800;
        font-size: 30px;
        line-height: 24px;
        text-align: center;
    }